<div class="c-card">
	<div class="o-wrapper">
		<div class="c-card__start">
			<img src="/src/assets/images/illustration-article.svg" alt="Drawers image" class="c-card__image">
		</div>
		<div class="c-card__end">
			<div class="c-card__content">
				<span class="c-card__tag">{{ tag }}</span>
				<p class="c-card__date">Published {{ date }}</p>
				<h2 class="c-card__headline">{{ headline }}</h2>
				<p class="c-card__text">{{ text }}</p>
				<div class="c-card__author">
					<img src="/src/assets/images/image-avatar.webp" alt="Greg Hooper" class="c-card__author-image">
					<span class="c-card__author-name">{{ author }}</span>
				</div>
			</div>
		</div>
	</div>
</div>